header {
  background-color: #0c4a6e;
  letter-spacing: 2px;
  
}
img {
  border-radius: 50%;
}
a {
  color:#3bc9db
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 45px;
  text-align: center;
  color: #f8f9fa
}

.edu {
  margin-top: 100px;
  margin-right:200px;
  
}

.edu-title {
}
h3 {
  font-family: Rosario, sans-serif;
  color: #0c4a6e;
}
body { 
  background-color: #f8f9fa;
}

.k1 {
  float: left;
}
.k2 {
  float:left;
}

.k3 {
  float: left;
}

.contact{
  line-height:0px;
}

